@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

/*
*  html5resetcss
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

html {
    /* height: 100vh; */
}

body {
    line-height: 1;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

nav ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

/* minha pagina */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    /* mantem os conteúdos filhos dentro dos pai */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {

    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.cabecalho__menu__links {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;

}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.foto__leo {
    width: 50%;
    border-radius: 20px;
    border: 10px solid var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__texto__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);

}

.apresentacao__texto__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);

}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.apresentacao__links__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;

}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    font-family: var(--fonte-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-weight: 600;
    border: solid 2px var(--cor-terciaria);


}

.apresentacao__links__botao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__botao img {
    width: 32px;
    height: 32px;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
}

@media (max-width: 1200px){

    .cabecalho{
        padding: 3%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 1% 5%;
    }
    .apresentacao__texto{
        width: auto;
        text-align: center;
    }
    .apresentacao__links__botao{
        box-sizing: border-box;
    }

}